<div class="row">
    <div class="col-md-12">
        <h3>Available Listings</h3>
    </div>
</div>
<br/>
<div id="listings_partial">
    <div class="row">
        <div class="col-md-4"><strong>Provider name</strong></div>
        <div class="col-md-4"><strong>Start Date</strong></div>
        <div class="col-md-4"><strong>End Date</strong></div>
    </div>
    <hr/>
    <% @available_listings.each do |listing|  %>
        <div class="row">
            <div class="col-md-3"><%=listing.provider.name%></div>
            <div class="col-md-4"><%=listing.start_at_label %></div>
            <div class="col-md-4"><%=listing.end_at_label %></div>
        </div>
    <% end %>
</div>
