<h3>Booked Listings</h3>
<div id="listings_partial">
    <% @booked_listings.each do |listing|  %>
        <div class="row">
            <div class="col-md-12">
                <%= listing.created_at%>
            </div>
        </div>
    <% end %>
</div>
